.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6D6D6D;
    font-size: 16px;
}
.add form{
   gap: 20px;
}
.add-img-upload img{
    
 cursor: pointer;  
 max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.add-img-upload label {
  width: 200px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #f9f9f9;
}

.add-product-name, .add-product-description{
    width: max(40%,280px);
}
.add-product-name input ,.add-product-description textarea{
    padding: 10px 10px;
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select,.add-category-price input{
    max-width: 110px;
    padding: 10px;
}
.add-btn{
    max-width: 130px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}