.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  border-radius: 50px;
  padding: 10px 30px;
  border: 1px solid tomato;
  font-size: 16px;
  color: #49557e;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  border-radius: 5px;
  background-color: tomato;
  top: -8px;
  right: -8px;
}

/* PROFILE */

.navbar-profile {
  position: relative;
  cursor: pointer;
}

.nav-profile-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-profile-dropdown img {
  width: 20px;
}

.nav-profile-dropdown li:hover {
  color: #FF4C24;
}

.nav-profile-dropdown hr {
  background-color: gray;
  height: 1px;
  border: none;
}

/* RESPONSIVE */

@media (max-width:1050px) {
  .navbar .logo { width: 140px; }
  .navbar-menu { font-size: 17px; }
  .navbar-right { gap: 30px; }
}

@media (max-width:900px) {
  .navbar .logo { width: 120px; }
  .navbar-menu { font-size: 16px; }
}

@media (max-width:750px) {
  .navbar-menu {
    display: none;
  }
}
