
.login-popup{
   position: fixed;        
   top: 0;
   left: 0;
   z-index: 1000;          
   width: 100%;
   height: 100%;
   background-color: #00000090;
   display: grid;
}

.login-popup-container{
    position: relative;     
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 14px;
    background: white;       
    animation: fadeIn 0.5s;
}
.login-popup-title{
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
}

.login-popup-title img{
    cursor: pointer;
    width: 16px;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
}
.login-popup-container button{
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    background-color: tomato;
    padding: 10px;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    margin-top: -15px;
    gap: 8px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup p span{
    color: tomato;
    cursor: pointer;
    font-weight: 500;
}


